body {
    margin: 0;
    font-family: "Comfortaa", monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header{
    display: flex;
    flex-wrap: wrap;
    background-color: #a5c3f5;
    justify-content: space-between;
    padding-left: 40px;

}
.todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 400px;
    margin: 15px auto;
}

.todo__input {
    position: relative;
}

.todo__text {
    width: 225px;
    padding: 6px 34px 6px 10px;
    font-size: inherit;
    font-family: sans-serif;
    line-height: inherit;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    outline: none;
}

.todo__text:focus {
    border-color: #dcedc8;
}

.todo__add {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 26px;
    height: 26px;
    background-color: #055bd0;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color 0.15s ease-in;
}

.todo__add:hover {
    background-color: #055bd0;
}

.todo__add::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 18px;

    height: 18px;
    background-image: url("https://cdn.icon-icons.com/icons2/1207/PNG/512/1491313933-plus_83004.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: "";
}

.todo__options {
    width: 150px;
    max-width: 100%;
    padding: 6px 30px 6px 12px;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    background-color: #0068d3;
    background-size: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    appearance: none;
    text-align: center;

}


.todo__options > option {
    color: #212529;
    background-color: #fff;
}

.todo__items {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    list-style-type: none;
}

.todo__item {
    position: relative;
    padding: 10px 15px;
    overflow: hidden;
    background-color: #fafafa;
    border-radius: 15px;
}

.todo__item:not(:last-child) {
    margin-bottom: 10px;
}

.todo__date {
    display: flex;
    flex-direction: column;
    color: #9e9e9e;
    font-size: 14px;
}

.todo__action {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    background-color: #80deea;
    border-radius: 15px;
}

.todo__action::before {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: "";
}

.todo__action_delete {
    right: 52px;
    background-color: #da5959;
}

.todo__action_complete {
    background-color: #02ab0a;
}

.todo__action_restore::before {
    background-image: url("https://cdn.icon-icons.com/icons2/1369/PNG/512/-settings-backup-restore_90456.png")}

.todo__action_complete::before {
    background-image: url("https://cdn.icon-icons.com/icons2/1380/PNG/512/vcsnormal_93488.png")}

.todo__action_delete::before {
    background-image: url("https://cdn.icon-icons.com/icons2/2853/PNG/512/delete_remove_close_icon_181533.png");
}

[data-todo-state="active"] .todo__action_restore,
[data-todo-state="completed"] .todo__action_complete,
[data-todo-state="deleted"] .todo__action_complete {
    display: none;
}

[data-todo-state="completed"] {
    text-decoration: line-through;
    background-color: #f1f8ed;
}

[data-todo-state="deleted"] .todo__task {
    color: #8d8d8d;
}

[data-todo-state="deleted"] .todo__action_restore {
    right: 15px;
}

[data-todo-option="active"] .todo__item:not([data-todo-state="active"]),
[data-todo-option="completed"] .todo__item:not([data-todo-state="completed"]),
[data-todo-option="deleted"] .todo__item:not([data-todo-state="deleted"]) {
    display: none;

}